table{
    width: 100%;
    border-width: 5px;
    border-color: black;

}
tr{
    margin: 0px;
    height: 10px;
}
.tname{
    font-size: 18px;
    font-weight: 800;
}
.ticon{
    color: rgba(25, 41, 35, 0.514);
    align-items: center;
    width: 30px;
}
.tdata + .tfilename{
    color: rgba(80, 131, 114, 0.514);
    font-size: 14px;
}
.tddownload{
    background-color: rgba(243, 82, 23, 0.411);
    font-size: 14px;
    width: 100px;
    border-radius: 20px;
    padding: 0px 20px;
    margin-top: 20px;
}